data/celeba
stargan_celeba_256
results_test
test_result_images
__pycache__
attgan/256_shortcut1_inject0_none/checkpoint
attgan/256_shortcut1_inject0_none/custom_testing
attgan/256_shortcut1_inject0_none_hq/checkpoint
attgan/256_shortcut1_inject0_none_hq/custom_testing
attgan/256_shortcut1_inject1_none/checkpoint
attgan/256_shortcut1_inject1_none/custom_testing
attgan/256_shortcut1_inject1_none_hq/checkpoint
attgan/256_shortcut1_inject1_none_hq/custom_testing
MAAD-Face/data
MAAD-Face/MAAD_Face.csv
MAAD-Face/MAAD_Face_filtered.csv

package_test.py
