data/celeba

stargan_celeba_256

result_test
result_inference

test_result_images

MAAD-Face

__pycache__

attgan/256_shortcut1_inject0_none/checkpoint
attgan/256_shortcut1_inject0_none/custom_testing
attgan/256_shortcut1_inject0_none_hq/checkpoint
attgan/256_shortcut1_inject0_none_hq/custom_testing
attgan/256_shortcut1_inject1_none/checkpoint
attgan/256_shortcut1_inject1_none/custom_testing
attgan/256_shortcut1_inject1_none_hq/checkpoint
attgan/256_shortcut1_inject1_none_hq/custom_testing

package_test.py
rainbow_inference_1.txt
.python-version
pyproject.toml
reward_trend.png
test.md
test.py
test.txt
uv.lock
.neptune
