# PyTorch 및 관련 패키지 (추후, pyproject.toml을 수정하면 CUDA 버전으로 변경 가능)
torch
torchvision

# 데이터 과학 및 머신러닝 패키지
scikit-image
torchmetrics
lpips
face_alignment
pandas
torch_dct
scikit-learn
seaborn
h5py
PyWavelets
lmdb
dlib
munch
timm

# Git 저장소에서 직접 설치하는 패키지
git+https://github.com/openai/CLIP.git

# 환경 변수 관리 패키지
python-dotenv