torch==2.2.2+cu121
torchvision==0.17.2+cu121
numpy==1.26.4
scipy>=1.15.1
pandas>=2.2.3
matplotlib>=3.10.1
seaborn>=0.13.2
scikit-learn>=1.6.1
scikit-image>=0.25.0
PyWavelets>=1.8.0
torchmetrics>=1.6.3
opencv-python>=4.11.0.86
Pillow>=10.2.0
torch-dct>=0.1.6
optuna>=4.2.1
h5py>=3.13.0
